*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.container {}

.figma {
    display: none;
}

#input {
    position: relative;
}

.head {
    position: fixed;
    background-color: #2c2c2c;
    width: 100%;
    z-index: 2;

}

.header-block {
    background-color: #2c2c2c;
    width: 100%;
    padding: 28px;
    position: fixed;
    position: absolute;
}

.input-block {
    width: 320px;
    align-items: center;
    background-color: #2c2c2c;
    cursor: text;
    color: #fff;
    border-radius: 6px;
    border: 1px solid transparent;
    position: absolute;
    top: 8px;
    left: 250px;
    padding-left: 10px;
}

.bx-search {
    color: #b9b6b6;
}

input {
    background-color: #2c2c2c;
    outline: none;
    border: none;
    width: 80%;
    padding: 10px 0 10px 20px;
    color: #fff;
}

.input-block:hover {
    background-color: #444;
}

.input-block:hover input {
    background-color: #444;
}

.account-block {
    position: absolute;
    right: 10px;
    top: 15px;
}

.bx-bell {
    font-size: 18px;
    color: #fff;
    width: 32px;
    height: 32px;
}

.account {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    color: #fff;
    width: 32px;
    height: 32px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    background-color: #b018f7fb;
}

.bx-chevron-down {
    color: #fff;
    font-size: 20px;
}

.menu-block {
    position: relative;
    position: fixed;
    border-right: 1.5px solid #5352523a;
    height: 900px;
    z-index: 100;


}

.name-block {
    background-color: #2c2c2c;
    color: #f1f0f0;
    padding: 6px 8px;
    position: relative;
    top: 10px;
    left: 0;
}

.bxl-figma {
    color: #ffffffaf;
    font-size: 18px;
    margin-right: 10px;
}

.name-title {
    font-size: 12px;
    font-weight: 500px;
}

.name-text {
    font-size: 10px;
    color: #ffffff79;
}

.menu-portion {
    padding-top: 20px;
}

.recents {
    padding: 5px;
    margin-top: 20px;
    background-color: #c9e1f8;
}

.bx-time {
    margin-right: 15px;
    font-size: 18px;
}

.bx-file-blank {
    margin-right: 15px;
    font-size: 18px;
}

.bx-globe {
    margin-right: 15px;
    font-size: 18px;
}

.bx-up-arrow-circle {
    margin-right: 15px;
    font-size: 18px;
}

.menu-text {
    font-size: 12px;
}

.hr {
    width: 200px;
    height: 2px;
    margin-bottom: 24px;
}

.upgrade-text {
    font-size: 12px;
    width: 160px;
    height: 60px;
}

.up-btn {
    padding: 9px 11px;
    border-radius: 8px;
    font-size: 13px;
    border: none;
    outline: 1px solid rgb(78, 78, 78);
    margin-left: 25px;
    background-color: #fff;
}

.com-btn {
    padding: 2px 4px;
    background-color: #42945d;
    color: #fff;
    font-size: 9px;
    border: none;
    margin-left: 10px;
    border-radius: 3px;
}

.bx-right-arrow-alt {
    font-size: 24px;
    margin-left: 30px;
}

.community:hover .bx-right-arrow-alt {
    margin-left: 33px;
}

.up-btn:hover {
    background-color: #b4e5f8;
    outline-color: #2f7df1;

}

.mb {
    margin-bottom: 20px;
    margin-left: 10px;
}

.drafts:active {
    background-color: #c9e1f8;
    padding: 5px;
}

.drf-plus {
    display: none;
}

.team-plus {
    display: none;
}

.team:hover {
    display: block;
}

.community {}

.menu-text {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

.checkbox {
    display: block;
    background-color: #5230e7;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    margin-right: 15px;
}

.bx-plus {
    font-size: 25px;
    margin-right: 15px;
    color: rgba(26, 26, 26, 0.753);
}

.main {
    position: fixed;
    width: 80%;
    height: 220px;
    margin-left: 250px;
    padding-top: 60px;
    background-color: #fff;
    z-index: 1;
}

.recently {
    padding: 15px 5px;
}

.main-text {
    font-size: 13px;
    margin-bottom: 7px;
}

.list-sty {
    list-style-type: none;
}

.main-list {
    padding-top: 24px;
}

.main-item {
    padding: 20px 12px;
    border: 1px solid #bdb9b9;
    border-radius: 8px;
    width: 330px;
    height: 70px;
    margin-left: 20px;
}

.main-item:hover {
    background-color: #e1e4e6ce;
}

.main-title {
    font-size: 13px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-texts {
    font-size: 13px;
    color: #919191;
}

.bxs-file-image {
    font-size: 30px;
    color: #2f7df1;
}

.in-div-list {
    margin-left: 30px;
    margin-right: 40px;
}

.picsum-list {
    padding: 18px 10px;
}

.picsum-item {
    border: 1px solid #686666;
    border-radius: 6px;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.main-bag {
    width: 80%;
    height: 100%;
    margin-left: 250px;
    padding-top: 260px;

}

.last-block {
    margin-bottom: 20px;
}

.last-wv {
    color: #000;
    font-size: 15px;
}

.last-text {
    font-size: 12px;
    margin-right: 10px;
}

.menu-btn {
    padding: 0 3px;
    font-size: 20px;
    cursor: pointer;
}

.mark {
    position: relative;
    z-index: 110;
}

.bx-question-mark {
    color: #fff;
    font-size: 20px;
}

.picsum-block {
    padding: 10px;
}

.text-block {
    margin-left: 15px;
}

.picsum-title {
    font-size: 13px;
    margin-bottom: 4px;
}

.picsum-text {
    font-size: 11px;
    color: #2c2c2c9f;
}

.bx-file {
    font-size: 20px;
    color: #2f7df1;
}

.mark-block {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 10px;
    background-color: #111111e0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    position: fixed;
}